---
import DefaultLayout from "../layouts/DefaultLayout.astro";

import data from "../data.json"

const theme = "HTML"
const quiz = data.quizzes.filter(q => q.title === theme)[0]
---

<DefaultLayout>
    <p>Question <span class="question-number">1</span> of 10</p>
    <p>
        Which of these color contrast ratios defines the minimum WCAG 2.1 Level AA requirement for normal text?
    </p>
    <ul>
        <li>A</li>
        <li>B</li>
        <li>C</li>
        <li>D</li>
    </ul>

    <button class="submit-btn">Submit Answer</button>
</DefaultLayout>

<script define:vars={{ theme, quiz }}>
    const submitBtn = document.querySelector('.submit-btn')
    const questions = quiz.questions

    submitBtn.addEventListener('click', function() {
        const questionNumber = document.querySelector('.question-number')
        Number(questionNumber.textContent++)

        const currentQuestion = questions[questionNumber.textContent]

        console.log(currentQuestion)
    })
</script>
