---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import SubjectLink from "../components/SubjectLink.astro";

import data from "../data.json";
const subjects = data.quizzes.map((quiz) => ({
  color: quiz.color,
  icon: quiz.icon,
  title: quiz.title,
}));
---

<DefaultLayout>
  <div class="heading">
    <h1>
      Welcome to the
      <span> Frontend Quiz </span>
    </h1>
    <p>Pick a subject to get started</p>
  </div>

  <nav>
    <ul class="subjects">
      {
        subjects.map((subject) => (
          <SubjectLink
            color={subject.color}
            content={subject.title}
            href={`/subjects/${subject.title.toLocaleLowerCase()}`}
            iconPath={subject.icon}
          />
        ))
      }
    </ul>
  </nav>
</DefaultLayout>

<style>
  .heading {
    margin-bottom: 2.5rem;
  }

  h1 {
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 1rem;

    span {
      font-weight: 500;
    }
  }

  p {
    margin: 0;
    font-style: italic;
    font-family: 0.875rem;
    font-weight: 300;
  }

  .subjects {
    display: grid;
    gap: 0.75rem;
    list-style-type: none;
    padding-left: 0;
  }
</style>
