---
import DefaultLayout from "../layouts/DefaultLayout.astro"

import data from "../data.json"

console.log("=======")
console.log(data.quizzes)
console.log("=======")
---

<DefaultLayout>
		<h1>Astro</h1>
</DefaultLayout>
