---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import SubjectLink from "../components/SubjectLink.astro";

import data from "../data.json";
const subjects = data.quizzes.map((quiz) => ({
	title: quiz.title,
	color: quiz.color
}));
---

<DefaultLayout>
  <h1>Welcome to the Frontend Quiz</h1>
  <p>Pick a subject to get started</p>

  <nav>
    <ul class="subjects">
      {
        subjects.map((subject) => (
          <SubjectLink href={subject.title.toLocaleLowerCase()} content={subject.title} color={subject.color} />
        ))
      }
    </ul>
  </nav>
</DefaultLayout>

<style>
	.subjects {
		display: grid;
		list-style-type: none;
		padding-left: 0;
		gap: .75rem;
	}
</style>
