---
import DefaultLayout from "../layouts/DefaultLayout.astro"

import data from "../data.json"

console.log("=======")
console.log(data.quizzes)
console.log("=======")
---

<DefaultLayout>
		<h1>Welcome to the Frontend Quiz</h1>
		<p>Pick a subject to get started</p>

		<nav>
			<ul>
				<li>
					<a href="/">HTML</a>
				</li>
				<li>
					<a href="/">CSS</a>
				</li>
				<li>
					<a href="/">JavaScript</a>
				</li>
				<li>
					<a href="/">Accessibility</a>
				</li>
			</ul>
		</nav>
</DefaultLayout>
