---
interface Props {
    content: string
    number: string
}

const { content, number } = Astro.props
---

<li class="answer-btn">
    <span class="answer-number">{number}</span>
    <span class="answer-content">{content}</span>
</li>

<style>
    li {
        align-items: center;
        background-color: #FFF;
        border-radius: 12px;
        border: 3px solid #FFF;
        cursor: pointer;
        display: flex;
        font-size: 18px;
        padding: 12px;
        transition: .4s;

        &:hover {
            border: 3px solid #A729F5;
        }

        .answer-number {
            align-items: center;
            background-color: #F4F6FA;
            border-radius: 12px;
            color: #626C7F;
            display: flex;
            height: 40px;
            justify-content: center;
            margin-right: 16px;
            width: 40px;
        }

        .answer-content {
            color: #3B4D66;
        }
    }

    .active {
        border: 3px solid #A729F5;

        .answer-number {
            background-color: #A729F5;
            color: #FFF;
        }
    }

    .correct-answer {
        border: 3px solid #26D782;
        background-image: url("/images/correct-icon.svg");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right 16px;

        .answer-number {
            background-color: #26D782;
            color: #FFF;
        }
    }

    .wrong-answer {
        border: 3px solid #EE5454;
        background-image: url("/images/wrong-icon.svg");
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right 16px;

        .answer-number {
            background-color: #EE5454;
            color: #FFF;
        }
    }
</style>
