---
import AccessibilityIcon from "./AccessibilityIcon.astro"
import PageTitle from "./PageTitle.astro"
---

<header>
  <AccessibilityIcon />
  <PageTitle />
  <div class="">
    Toggle Switch
  </div>
</header>
