---
interface Props {
  color?: string;
  icon?: string;
  title?: string
}

import PageTitle from "./PageTitle.astro";
import SubjectIcon from "./SubjectIcon.astro";
import ThemeToggleSwitch from "./ThemeToggleSwitch.astro";

const { color, icon, title } = Astro.props;
---

<header>
  {
    (icon && color) && (
      <div class="icon-wrapper">
        <SubjectIcon
          color={color}
          iconPath={icon}
        />
      </div>
    )
  }
  {
    title && (
      <PageTitle content={title} />
    )
  }
  <div class="toggle-switch-wrapper">
    <ThemeToggleSwitch />
  </div>
</header>

<style>
  header {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  .icon-wrapper {
    margin-right: 1rem;
  }

  .toggle-switch-wrapper {
    margin-left: auto;
  }
</style>
