---
interface Props {
    content: string
}

const { content } = Astro.props
---

<p>{ content }</p>

<style>
    p {
        font-weight: 500;
        font-size: 1.125rem;
        color: #313E51;
    }
</style>
