---
import SubjectIcon from "./SubjectIcon.astro"
import PageTitle from "./PageTitle.astro"
---

<div class="result-wrapper">
    <h1>Quiz completed</h1>
    <br>
    You scored

    <div class="score-card">

    </div>
</div>

<style>
    .result-wrapper {}

    .score-card {}
</style>
