---
interface Props {
    href: string
    content: string
    color: string
}

const { href, content, color } = Astro.props
---

<li>
    <a href={href}>
        {content}
    </a>
</li>


<style define:vars={{ color }}>
    li {
        padding-top: .75rem;
        padding-bottom: .75rem;
        background-color: var(--color);
    }

    a {
        color: #313E51;
        text-decoration: none;
    }
</style>
