---
interface Props {
  color: string;
  content: string;
  href: string;
  iconPath: string;
}

import SubjectIcon from "./SubjectIcon.astro"

const { color, content, href, iconPath } = Astro.props;
---

<li>
  <a href={href}>
    <SubjectIcon
      color={color}
      iconPath={iconPath}
    />
    {content}
  </a>
</li>

<style define:vars={{ color }}>
  a {
    align-items: center;
    background-color: #FFF;
    border-radius: 12px;
    color: #313e51;
    display: flex;
    padding: .75rem;
    text-decoration: none;
    gap: 1rem;
    border: 1px solid #FFF;
    transition: .4s;
    box-shadow: 0 16px 40px 0 #8FA0C122;

    &:hover {
      border-color: #A729F5;
    }
  }
</style>
