---
interface Props {
  color: string;
  content: string;
  href: string;
  iconPath: string;
}

const { color, content, href, iconPath } = Astro.props;
---

<li>
  <a href={href}>
    <img src={ iconPath } alt="" />
    {content}
  </a>
</li>

<style define:vars={{ color }}>
  li {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    background-color: var(--color);
  }

  a {
    color: #313e51;
    text-decoration: none;
  }
</style>
