---
import "@fontsource-variable/rubik"

import Header from "../components/Header.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Quiz App</title>
	</head>
	<body>
		<div class="main-wrapper">
			<Header />
			<slot />
		</div>
	</body>
</html>

<style is:global>
	body {
		background-color: #F4F6FA;
		font-family: 'Rubik Variable', sans-serif;
	}

	* {
		box-sizing: border-box;
	}

	.main-wrapper {
		@media screen and (min-width: 768px) {
			width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.hidden {
		display: none !important;
	}
</style>
